@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');


$screen-fourk: 1920px;
$screen-desktop: 1440px;
$screen-tabletL: 1024px;
$screen-tabletP: 786px;
$screen-mobileL: 500px;
$screen-mobileM: 400px;
$screen-mobileS: 350px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    font-family: 'Rubik', sans-serif;
    font-size: 62.5%;

    @media only screen and (min-width: $screen-fourk) {
        font-size: 120%;
    }

    @media only screen and (max-width: $screen-fourk) {
        font-size: 70.5%;
    }

    @media only screen and (max-width: $screen-desktop) {
        font-size: 62.5%;
    }

    @media only screen and (max-width: $screen-tabletL) {
        font-size: 60%;
    }

    @media only screen and (max-width: $screen-tabletP) {
        font-size: 50%;
    }

    @media only screen and (max-width: $screen-mobileL) {
        font-size: 30%;
    }

    @media only screen and (max-width: $screen-mobileM) {
        font-size: 25%;
    }

    @media only screen and (max-width: $screen-mobileS) {
        font-size: 20%;
    }
}

#root {
    position: relative;
}

::-webkit-scrollbar {
    width: .5rem;
    border-radius: 5rem;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #000;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

.App {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}